body {
  background-color: #282c34;
  height: 100vh;
}
/*TODO rewiew не решен */
#root {
  height: 100%;
  overflow: hidden;
}
.App {
  height: 100%;
  
}

.tools-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin-right: 5vh;
  overflow: hidden;
}

.area-wrapper {
  background-color: #818691a8;
  flex: 1 0 auto;
  overflow: scroll;
  height: 90%;
  width: 100%;
}